body{
    background-color: lightblue;
    text-align: center;
    height: 100%;
}
.container{

    width: 700px;
   min-height: 600px;
    margin: auto;

    background-color: lightgrey;
  
}
label{
   
    padding: 0 5px;
}
input{
   
}
form{
    
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.namebox{
    margin: 20px;
  
}

.emailbox{
    margin: 20px;
    
}
input[type=email]{
   margin-left: 7px;
}
.scalebox{
 padding-right: 200px;
   margin: 20px;

}
.happendbox{
    margin: 20px;
    padding-right: 150px;
}
.radiobox{
    display: flex;
}
.radioelement{
    display: flex;
    flex-direction: column;
    text-align: left;

}
.Morning{
    margin-left: 3px;
}
#html{
    margin-left: 12px;
}
.radiolabel{
    margin-left: 50px;
}
.checkboxes{
    padding-right: 270px;
  

}
.checkpara{
    margin-right: 100px;
}
.feeling{
    text-align: left;
    padding-left: 300px;
}
.massege{
    padding-right: 10px;
    margin: 20px;
}
.massegebox{
    width: 300px;
    height: 40px;
   
}
button{
    width: 80px;
    height: 40px;
    background-color: blue;
}
button:hover{
    background-color:green;
}